# /lib/systemd/system/vkf.service
# sudo systemctl enable vkf
# sudo cp -fvu /opt/VinKekFish/options/vkf.service /lib/systemd/system/
[Unit]
Description=VinKekFish
After=nss-lookup.target


[Service]
WorkingDirectory=$$$VkfDir
PIDFile=$$$VkfDir/vkf.pid

Environment=CONFIGFILE=options/service.options
# Environment=LD_LIBRARY_PATH='$ORIGIN'

User=root
Group=root

Type=exec
# ExecStart=$$$VkfDir/exe/vkf service options/service.options
ExecStart=$$$VkfDir/exe/vkf service $CONFIGFILE
ExecStopPost=/bin/rm -f $$$VkfDir/vkf.pid

# DefaultTimeoutStartSec=infinity
TimeoutStopSec=180
TimeoutStopFailureMode=kill

# Самый низкий приоритет для CPU
Nice=19
# Пакетный режим планировщика
CPUSchedulingPolicy=batch

# Низкий приоритет ввода-вывода, но не совсем низкий (0-7; 7 - самый низкий)
#IOSchedulingClass=idle
IOSchedulingClass=best-effort
IOSchedulingPriority=5

# Устанавливаем ограничения по потреблению
# https://www.freedesktop.org/software/systemd/man/latest/systemd.resource-control.html#
# Раскомментировать, если нужно ограничить потребляемые ресурсы процессора
# Это будет ОЧЕНЬ долго инициализироваться и запускаться. Для 15% процесс может длиться часами
# На 4-хядерном компьютере при полной производительности процесс инициализации может спокойно занимать 5 минут.
# CPUQuota=200%
# CPUQuotaPeriodSec=1000ms


# man systemd.exec
# https://www.freedesktop.org/software/systemd/man/systemd.exec.html
# https://www.redhat.com/sysadmin/mastering-systemd

NoNewPrivileges=yes

ProtectKernelModules=yes
ProtectSystem=full

PrivateDevices=no
ProtectHome=no
ProtectKernelTunables=true
ProtectControlGroups=yes
PrivateTmp=no
# Это препятствует чтению данных из /dev/input/mouse0; причём тут часы - неясно
ProtectClock=no
ProtectKernelLogs=no
ProtectProc=default
PrivateNetwork=no

# Сетевая активность может быть, т.к. пользователь может давать задачи для сбора энтропии через ping или что-то другое
SystemCallArchitectures=native
# RestrictAddressFamilies=AF_UNIX AF_NETLINK
# RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes


#IPAddressDeny=any
# К сожалению, это не получится, т.к. dotnet компилирует всё налету (исключая прекомпилированные сборки)
# MemoryDenyWriteExecute=yes
PrivateMounts=no
DynamicUser=no


[Install]
WantedBy=multi-user.target
